.product-presentation {
  padding: 2.2rem;
  background: white;
  width: 300px;
  border-radius: 0 16px 16px 0;
  overflow: hidden;
}

.category {
  letter-spacing: 0.4rem;
  font-size: 16px;
  font-family: "Fraunces", "sans-serif";
}

.title {
  margin-top: 1.5rem;
  line-height: 2.2rem;
  font-family: "Fraunces", serif;
  font-size: 36px;
  font-weight: 700;
  max-width: 80%;
}

.description {
  margin: 1.5rem 0;

  font-size: 18px;
  font-weight: 350px;
  font-family: "Fraunces", serif;
  max-width: 90%;
  line-height: 1.5;
}
.price-wrapper {
  margin: 1.5rem 0;

  display: flex;
  align-items: center;
}

.price-discounted {
  font-size: 38px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  margin-right: 1.5rem;
}

.price-original {
  text-decoration: line-through;
}

.add-to-cart-button {
  width: 100%;
  padding: 1rem 0;
  border-radius: 12px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-text {
  font-weight: bold;
}

.shop-icon {
  padding-right: 0.6rem;
}
